PORT=start_port
MONGODB_USER=my_user
MONGODB_PASSWORD=my_password
MONGODB_URL=my_url
MONGODB_DB=my_db_name
SMTP_HOST=my_host
SMTP_PORT=my_port
SMTP_USER=my_login
SMTP_PASSWORD=my_password
SMTP_FROM=my_email
JWT_SECRET=my_secret_token
APP_DOMAIN=my_domain
CLOUD_NAME=
API_KEY=
API_SECRET=
ENABLE_CLOUDINARY=
